---
const date = new Date();
let message = '';

if (date.getMonth() > 6 && date.getMonth() < 8) {
  message = `Speiderhøsten ${new Date().getFullYear()} er snart i gang! Sjekk Spond for den nyeste informasjonen.`;
}

if (date.getMonth() > 11 || date.getMonth() < 2) {
  message = `Vinterspeidingen er i gang! Sjekk Spond for den nyeste informasjonen.`;
}
---
{
  message && (
    <section
      id='announcement'
      class=' bg-blue-800 text-sm px-3 py-2 text-gray-100 md:text-center'
    >
      {message}{' '}Ny i speideren?{' '}
        <a href='/bli-speider' class="underline">Les mer her.</a>
    </section>
  )
}

