<footer id="footer" class="bg-base-200 text-center p-2 flex gap-2 justify-center">
    <p>© {new Date().getFullYear()} Nadderud Speidergruppe</p>
    <a class="link" href="/personvern">Personvern</a>
</footer>