---
---

<section class='hero-section'>
  <h1
    class='text-4xl tracking-tight md:text-5xl md:w-150 z-10 pt-12'
    style='grid-area: title;'
  >
    Friluft, mestring og samhold!
  </h1>
  <p class='hero-text' style='grid-area: text;'>
    Spennende friluftsliv for barn og ungdom fra 3. klasse og oppover. Vi er en
    aktiv speidergruppe med ca. 100 medlemmer som dekker området Nadderud,
    Bekkestua, Hosle, Eikeli og Haslum.
  </p>
  <img
    src='https://nadderud.no/static/a5f01ce4a22323e1c6c4bc867fb3b881/6eda9/leirbaal.jpg'
    class='aspect-square object-cover image'
    alt='Astro'
    style='grid-area: image;'
  />
</section>

<style>
  .hero-section {
    position: relative;
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-template-areas: 'title image' 'text image';
    grid-gap: 1rem;
    padding: 1rem;
    min-height: 70vh;
    max-width: 1200px;
    margin: 0 auto;
  }

  .w-150 {
    width: 150%;
  }

  .image {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .hero-text {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 4em;
  }

  .hero-text::before {
    content: '';
    width: 100px;
    height: 2px;
    background: #3b3b3b;
    position: absolute;
    left: 0;
    transform: translate(0, -2000%);
  }

  @media (max-width: 768px) {
    .hero-section {
      grid-template-columns: 1fr;
      grid-template-areas: 'title' 'image' 'text';
    }

    .image {
      max-width:500px;
      position: relative;
    }
    .hero-text {
        padding: 5px;
    }

    .hero-text::before {
      display: none;
    }

    .w-150 {
      width: 100%;
    }
  }
</style>
