---
export interface Props {
  slagord: string;
  description: string;
  featuredImage: string;
}

const { slagord, description, featuredImage } = Astro.props;
---

<section id="hero" class='hero-section'>
  <h1
    class='text-4xl tracking-tight md:text-5xl md:w-150 z-10 pt-12'
    style='grid-area: title;'
  >
    {slagord}
  </h1>
  <p class='hero-text' style='grid-area: text;'>
    {description}
  </p>
  <img
    src={featuredImage}
    class='aspect-square object-cover image'
    alt='Astro'
    style='grid-area: image;'
  />
</section>

<style>
  .hero-section {
    position: relative;
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-template-areas: 'title image' 'text image';
    grid-gap: 1rem;
    padding: 1rem;
    min-height: 70vh;
    max-width: 1200px;
    margin: 0 auto;
  }

  .w-150 {
    width: 150%;
  }

  .image {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .hero-text {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 4em;
  }

  .hero-text::before {
    content: '';
    width: 100px;
    height: 2px;
    background: #3b3b3b;
    position: absolute;
    left: 0;
    transform: translate(0, -2000%);
  }

  @media (max-width: 768px) {
    .hero-section {
      grid-template-columns: 1fr;
      grid-template-areas: 'title' 'image' 'text';
    }

    .image {
      max-width:500px;
      position: relative;
    }
    .hero-text {
        padding: 5px;
    }

    .hero-text::before {
      display: none;
    }

    .w-150 {
      width: 100%;
    }
  }
</style>
