---
type JoinDetails = {
  title: string;
  tag: string;
  tagColor: string;
};

const data: JoinDetails[] = [
  {
    title: '3.-4. klasse',
    tag: 'Flokken',
    tagColor: 'yellow',
  },
  {
    title: '5.-10. klasse',
    tag: 'Troppen',
    tagColor: 'blue',
  },
  {
    title: '1.VGS - 25 år',
    tag: 'Rover',
    tagColor: 'green',
  },
];

export interface Props {
  texts: string[];
}

const { texts = ["", "", ""] } = Astro.props;
---

<section id="who-can-join">
  {
    data.map((detail, i) => (
      <div class='card w-full bg-base-100 shadow-xl'>
        <div class='card-body'>
          <h2 class='card-title self-center'>
            {detail.title}
            <div class='badge badge-secondary'>{detail.tag}</div>
          </h2>
          <p>{texts[i]}</p>
        </div>
      </div>
    ))
  }
</section>

<style>
  section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 10px;
  }
</style>
