---
const wikiPages = await Astro.glob('/src/pages/wiki/*.md');

export interface Props {
  selectedPage: string;
}

const { selectedPage } = Astro.props;
---

<nav class="w-80 bg-base-200 p-2">
  <ul class='menu p-4  text-base-content menu-compact'>
    <li>
      <a href="/wiki">Wiki forside</a>
    </li>
    {
      wikiPages.map((page) => {
        const { title } = page.frontmatter;

        return (
          <li>
            <a class={`${selectedPage === page.frontmatter.title ? "active" : ""} `} href={page.url}>{title}</a>
          </li>
        );
      })
    }
  </ul>
</nav>
