---
const wikiPages = await Astro.glob('/src/pages/wiki/*.md');

export interface Props {
  selectedPage: string;
}

const { selectedPage } = Astro.props;
---


<ul class='menu p-4 text-base-content menu-compact bg-base-200 w-80'>
  <li>
    <a href="/wiki">Wiki forside</a>
  </li>
  {
    wikiPages.map((page) => {
      const { title } = page.frontmatter;

      return (
        <li>
          <a class={`${selectedPage === page.frontmatter.title ? "active" : ""} `} href={page.url}>{title}</a>
        </li>
      );
    })
  }
</ul>