---
import PageLayout from '~/layouts/PageLayout.astro'

---

<PageLayout>
    <section class="w-72 m-auto text-center">
        <h1 class="font-extrabold text-4xl">404</h1>
        <p>Beklager vi fant ikke det du lette etter</p>
        <br />
        <a class="link" href="/">Tilbake til forsiden</a>
    </section>
</PageLayout>

<style>

</style>