---
import PageLayout from '~/layouts/PageLayout.astro';
import { SITE } from '~/config';
import FrontpageHero from '~/components/widgets/FrontpageHero.astro';
import FrontpageEvents from '~/components/widgets/FrontpageEvents.astro';
import ImageLarge from '~/components/widgets/ImageLarge.astro';
import WhoCanJoinInfo from '~/components/widgets/WhoCanJoinInfo.astro';
import JoinScoutGroup from '~/components/widgets/JoinScoutGroup.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};

---

<PageLayout {meta}>
  <main class='bg-base-100'>
    <FrontpageHero />
    <FrontpageEvents />
    <ImageLarge
      title='Speiding er spennende og gir venner for livet!'
      src='/img/upload/img_20210703_081612_706.jpg'
      alt='Bilde av spennende speideraktiviteter'
    />
    <WhoCanJoinInfo />
    <JoinScoutGroup />
  </main>
</PageLayout>
