---
import WikiPageLayout from '~/layouts/WikiPageLayout.astro';

export const meta = {
  title: 'Wiki - Naddeurd',
  description: 'Wiki til Naddeurd. Her kan du finne alt fra historie til oppskrifter og mye mer.',
  dontUseTitleTemplate: true,
};
---

<WikiPageLayout {meta}>
  <h1>Naddeurd WIKI</h1>
    <p>Her kan du finne alt fra historie til oppskrifter og mye mer.</p>
    <p>Bruk navigasjonen til  finne frem</p>
</WikiPageLayout>
