<span class="logo"><img src="/img/nsf.png" alt="Logo" fetchpriority="high" loading="eager" /> Naddeurd <span class="sm:inline hidden ml-1">Speidergruppe</span></span>

<style>
    .logo {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
    }

    img {
        height: 100%;
    }
</style>