---
import Layout from '~/layouts/BaseLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import Announcement from '~/components/widgets/Announcement.astro';

import { headerData } from '~/data';
import Hero from '~/components/common/Hero.astro';

const { frontmatter } = Astro.props;

---

<Layout meta={{title: frontmatter.title, description: frontmatter.description}}>
  <slot name="announcement">
    <Announcement />
  </slot>
  <slot name="header">
    <Header {...headerData} />
  </slot>
  <main class="bg-base-100">
    <Hero image={frontmatter.featuredimage} title={frontmatter.title} />
    <article class="prose max-w-2xl mx-auto p-4" >
        <slot />
    </article>
  </main>
  <slot name="footer">
    <Footer />
  </slot>
</Layout>
