---
import '~/assets/styles/base.css';

import MetaTags from '~/components/common/MetaTags.astro';
import BasicScripts from '~/components/common/BasicScripts.astro';
import type { MetaSEO } from '../types';

export interface Props {
  meta?: MetaSEO;
}

const { meta = {} } = Astro.props;
---

<!DOCTYPE html>
<html lang='no' data-theme='emerald' dir='auto' class='2xl:text-[20px]'>
  <head>
    <MetaTags {...meta} />
    <script
      src='https://identity.netlify.com/v1/netlify-identity-widget.js'
      is:inline
    ></script>
  </head>

  <body class='min-h-screen flex flex-col'>
    <slot />
    <BasicScripts />
    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
