---
import Layout from '~/layouts/BaseLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import Announcement from '~/components/widgets/Announcement.astro';

import type { MetaSEO } from '~/types';
import { headerData } from '~/data';
import Hero from '~/components/common/Hero.astro';

export interface Props {
  meta?: MetaSEO;
}

const { frontmatter } = Astro.props;
---

<Layout meta={{title: frontmatter.title, description: frontmatter.description}}>
  <slot name='announcement'>
    <Announcement />
  </slot>
  <slot name='header'>
    <Header {...headerData} />
  </slot>
  <main class='bg-base-100'>
    {frontmatter && frontmatter.image ? <Hero {...frontmatter} /> : null}
    <section class='prose max-w-2xl mx-auto p-4'>
      {
        frontmatter && !frontmatter.image && frontmatter.title ? (
          <h1 class='pt-10'>{frontmatter.title}</h1>
        ) : null
      }
      <slot />
    </section>
  </main>
  <slot name='footer'>
    <Footer />
  </slot>
</Layout>
