---
import type { MarkdownLayoutProps } from 'astro';

import Hero from '~/components/common/Hero.astro';
import PageLayout from './PageLayout.astro';

type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
  title: string;
  description: string;
  image: string;
  body: any;
}>;

const { frontmatter } = Astro.props;
---

<PageLayout
  meta={{ title: frontmatter.title, description: frontmatter.description, image: frontmatter.image }}
>
  {frontmatter && frontmatter.image ? <Hero {...frontmatter} /> : null}
  <section class='prose max-w-2xl mx-auto p-4'>
    {
      frontmatter && !frontmatter.image && frontmatter.title ? (
        <h1 class='pt-10'>{frontmatter.title}</h1>
      ) : null
    }
    <slot />
  </section>
</PageLayout>
